<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }} Insielab</span>
        <a href="https://instagram.com/insielab" target="_blank" rel="noopener">
            {% icon "instagram" %}Insielab
        </a>
    </div>
</footer>
